<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ListenServer Graph</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <script src="/web/js/chartsLoader.js"></script>
</head>

<body>
    <%- include('partials/navbar') %>

    <div class="container-fluid mainContainer">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <small><b>Last 24H</b></small>
                        <div class="card-text">
                            <canvas id="chartLast" style="visibility: hidden;"></canvas>
                            <div class="progress" id="chartLastProgress">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <script>setLoadChart('chartLast', '/web/api/graph/last24', 'chartLastProgress', false)</script>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <small><b>Graph request by hours</b></small>
                        <div class="card-text" >
                            <canvas id="chartDay" style="visibility: hidden;"></canvas>
                            <div class="progress" id="chartDayProgress">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <script>setLoadChart('chartDay', '/web/api/graph/dayhour', 'chartDayProgress', false)</script>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <small><b>Graph request by hours</b></small>
                            <div class="card-text">
                            <canvas id="chartDot" style="visibility: hidden;"></canvas>
                            <div class="progress" id="chartDotProgress">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <script>setLoadChart('chartDot', '/web/api/graph/dotByHour', 'chartDotProgress',  true)</script>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <small><b>Graph request by hours</b></small>
                        <div class="card-text" >
                            <canvas id="chartCountry" style="visibility: hidden;"></canvas>
                            <div class="progress" id="chartCountryProgress">
                                <div class="progress-bar progress-bar-striped bg-danger progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <script>setLoadChart('chartCountry', '/web/api/graph/ip_country', 'chartCountryProgress', true)</script>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <%- include('partials/footer') %>
</body>


</html>