<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/web">MyLight Server</a>
    </nav>
  </div>
  <link rel="stylesheet" href="css/style.css">

<hr>