<div class="container-fluid mainContainer">
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/web/">ListenServer Ui</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/web/detail">Datas<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/data_type">Data type<span class="sr-only">/span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/search">Search Data</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/server">Server</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/ip">IPs</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/web/graph">Graph</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="search" method="GET" role="form">
      <input class="form-control mr-sm-2" name="port" type="search" placeholder="Search IP/port" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

</div>
  <link rel="stylesheet" href="css/style.css">

<hr>